<h1>Menu</h1>

<div class="album text-muted">
  <div class="container">
    <div id="name">
      <p></p>
      <button id="name-btn">Click</button>
    </div>
    <div class="row">

    </div>
  </div>
</div>